[Desktop Entry]
Version=1.0
Type=Link
Name=redesSociaisMinhaEscola.js
Comment=
Icon=user-bookmarks
URL=https://github.com/ProjetosStart/analise-de-dados/blob/aula09/graficos/redesSociaisMinhaEscola.js
